

<%photos = @spot.photos%>
<div class="img-cont">
<%unless photos[0].nil?%>
<div><img src= "<%=photos[0].fetch_url(8000)%>"></div>
<%end%>
<%unless photos[1].nil?%>
<div><img src= "<%=photos[1].fetch_url(8000)%>"></div>
<%end%>
</div>

<div class="info-cont">
<div class="place-name">
<h1><%=@spot.name%></h1>
<div class="spot-rating"><%= @spot.rating %></div>
</div>
<%=@spot.formatted_address%>
<% n = @spot.price_level%>
<%case n%>
<%when 1%>
<div class="price-lvl"><img src="https://image.flaticon.com/icons/svg/633/633688.svg"></div>
<%when 2%>
    <div class="price-lvl"><img src="https://image.flaticon.com/icons/svg/633/633688.svg"><img src="https://image.flaticon.com/icons/svg/633/633688.svg"></div>
<%when 3%>
    <div class="price-lvl"><img src="https://image.flaticon.com/icons/svg/633/633688.svg"><img src="https://image.flaticon.com/icons/svg/633/633688.svg"><img src="https://image.flaticon.com/icons/svg/633/633688.svg"></div>
<%when 4%>
    <div class="price-lvl"><img src="https://image.flaticon.com/icons/svg/633/633688.svg"><img src="https://image.flaticon.com/icons/svg/633/633688.svg"><img src="https://image.flaticon.com/icons/svg/633/633688.svg"></div>
<%end%>

</div>

<div class="review-div">

<div class="display-reviews">
<%reviews = @spot.reviews%>
<%reviews.each do |review|%>
<div class="review-line">
<div class="author-info">
<div class="profile-img"><img src="<%=review.profile_photo_url%>"></div>
<div class="author-name"><%=review.author_name%></div>
</div>
<div class="txt-content"><%=review.text%></div>
<hr>
</div>
<%end%>
</div>
<div class="detail-display">
<div class="name-small"><h5><%=@spot.name%></h5></div>
<div class="detailed-info"><div class="icon-div"><i class="fas fa-map-marker-alt"></i></div><div class="detail-text"><%=@spot.formatted_address%></div></div>
<div class="detailed-info"><div class="icon-div"><i class="fas fa-phone"></i></div><div class="detail-text"><%=@spot.formatted_phone_number%></div></div>
<div class="detailed-info"><div class="icon-div"><i class="fas fa-external-link-alt"></i></div><div class="detail-text"><a href = "<%=@spot.website%>">Visit Website</a></div></div>

<div class="name-small hour"><h5>Hours</h5></div>
<div class="hour-display">
<%@hours = @spot.opening_hours%>
<%@open = @hours["weekday_text"]%>
<%@open.each do |day|%>
<div><%=day%></div>
<%end%>
</div>

</div>

</div>