<!DOCTYPE html>
<html>
  <head>
    <title>ForkTest</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag   "https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css" %>
    <%= stylesheet_link_tag    'application' %>
    <%= javascript_include_tag 'application' %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js"></script>
  </head>

<body id="main-wallpaper">
<div class="main-search">
<div class="main-logo"><img src = "https://lh3.googleusercontent.com/dU-78eF1AmQyCwMkp8rmbcIWVLCDWUoiby-ic-Tiqem5jutdY8-6xUwBJlXRL4oaaJED0hETEk6-ipofpYI4HE_ZZC2QJz_4damolPU-TlL7G-mgR5fDoeph4tDeBVSSdSuvtWYqdLdVJc8A9FOf7Qe4aCU6CM9f_smRE-4BJKoVXSwRguVOY9JVw-CzhOzhtUoe-syoUfZ7h5fgxiOd_sSZFtmhvfpuKeSDgrCUrmVUj3HTNqg_8JFRerSAE0ropnRPVslPYbH26XBWNgj-RRoAaiH2pNWV-cU6xG-blhon_t3NkzjeHfZJ7r-mjY0n1n1kLM0jzi5cu-pD16KR7FbRRPp_mbCvqlAAf057YAql45B4d1YZ3oO00oOcd_Mid8VBVt6I58obWj59fFaAUqiGnK-0-_fEc8e1RksMvHVSLcF1w6cn7JlM5p4KXYdkR0w2LVdUvgnsu2DF3JWu1IHwQYNI73X8H8oBiPFq4k5FpArwdPE76TKHqOkyDd3PLjP-w-muNbb_2wPUcpV0I2tW3Mynzfl9oFLqrgj7KtPPH5JT9sAhvwwu5Y89GFOgS_SxhYIhGYBZuHsJRsk5LxjyhLGkqWA9C8Z0GXbgrWDPqyTC7C863LPd7IA_hQ=s400-no"></div>
<div class="search-div">

<div class="ui massive icon input">
<input type="text" class="big-search" list="current" name ="mylocation" id="pac-input" />
</div>

<div>
<button class="big ui button" id="search-btn">search</button>
</div>
</div>
</div>
<script src="https://maps.googleapis.com/maps/api/js?key=<%=ENV['FORK']%>&libraries=places&callback=initAutocomplete"
async defer></script>
  
</body>
</html>
